.DS_Store
.phpunit.result.cache

/.env.local
/.env.local.php
/.env.*.local
/var/
/vendor/
/node_modules/
/public/build

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
