<!doctype html>
<html lang="en_GB">
    <head>
        <title>ParfumPulse</title>
        <meta charset="utf-8">
        <style>
            html {
                font-family: 'Domaine Display', serif;
            }
        </style>
    </head>

    <body>
        {% block content %}{% endblock %}
    </body>
</html>
