<!doctype html>
<html lang="en_GB">
    <head>
        <title>ParfumPulse</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ asset('app.css') }}" integrity="{{ asset_integrity('app.css') }}">
    </head>

    <body>
        {% block content %}{% endblock %}
    </body>
</html>
